{% extends '../_partials/main-layout.html' %}
{% block page-title %}<title>Restaurant Events Single </title> {% endblock %}
{%- set current_page = 'Single Event' -%}
{% block content %}
<!-- Main Wrapper -->

<div class="main-wrapper">

    <!-- Header -->
    <header id="header" class="g-header position-absolute g-py-30">

        <!-- Navbar -->
        <div class="g-navbar-wrapper g-navbar-ribbon ribbon-light g-navbar-white-color bg-transparent scrollspy-v1">
            {% include '../_partials/navbar.html' %}
        </div>
        <!-- END Navbar -->

    </header>
    <!-- END Header -->

    <!-- Main Content -->
    <div id="main-content">

        <!-- Page Banner -->
        {% include '../_partials/page-header-breadcrumb.html' %}
        <!-- END Page Banner -->

        <section class="g-py-100">
            <div class="container">
                <div class="row justify-content-center justify-content-lg-between">
                    <div class="col-sm-10 col-lg-8">
                        <div class="post g-pb-40">
                            <div class="post-info g-mb-20">
                                <p class="text-muted g-pb-20">
                                    <span class="g-text-primary g-mr-10">Feb 25 2018</span> |
                                    <span class="g-mx-10"><i class="icon-heart"></i>  5</span> |
                                    <span class="g-mx-10"><i class="icon-bubble"></i> 15</span>
                                </p>
                            </div>
                            <div class="post-image g-h300 g-lg-h400 bg-cover g-shadow-v2 g-mb-40" style="background-image: url('assets/images/5.jpg');"></div>
                            <div class="post-content">
                                <h3 class="post-title font-dancing g-font-size-40 g-text-primary text-center g-mb-40"><a href="#">Colorful nanomachines, to the homeworld..</a></h3>
                                <div class="post-body text-center text-lg-left">
                                    <p class="g-mb-30">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nihil nobis quae ratione reprehenderit repudiandae voluptatem.
                                        Dolore dolorum ea laborum maiores modi, obcaecati provident quis quo similique tempore? Aliquam consectetur consequatur
                                        debitis dolore doloremque dolores dolorum earum ipsa laboriosam modi nemo, neque nobis soluta suscipit voluptatum!
                                        Delectus ducimus eligendi inventore quibusdam, quis rerum soluta totam vel?
                                    </p>
                                    <p class="g-mb-30">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nihil nobis quae ratione reprehenderit repudiandae voluptatem.
                                        Dolore dolorum ea laborum maiores modi, obcaecati provident quis quo similique tempore? Aliquam consectetur consequatur
                                        debitis dolore doloremque dolores dolorum earum ipsa laboriosam modi nemo, neque nobis soluta suscipit voluptatum!
                                        Delectus ducimus eligendi inventore quibusdam, quis rerum soluta totam vel?
                                    </p>
                                    <blockquote class="post-quote g-pl-40 g-py-20 g-my-60 g-border-l g-border-primary g-border-4x">
                                        <h2 class="g-font-size-30 font-dancing text-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolorum earum excepturi impedit incidunt nihil obcaecati quas suscipit unde ut!</h2>
                                    </blockquote>
                                    <p class="g-mb-50">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nihil nobis quae ratione reprehenderit repudiandae voluptatem.
                                        Dolore dolorum ea laborum maiores modi, obcaecati provident quis quo similique tempore? Aliquam consectetur consequatur
                                        debitis dolore doloremque dolores dolorum earum ipsa laboriosam modi nemo, neque nobis soluta suscipit voluptatum!
                                        Delectus ducimus eligendi inventore quibusdam, quis rerum soluta totam vel?
                                    </p>

                                    <p>
                                        <a href="#" class="btn g-btn-outline-blue-darken g-btn-size-2 g-mb-10 g-mb-sm-0 g-rounded-20 g-mr-5"><i class="fa fa-facebook g-mr-10"></i><span>Facebook</span></a>
                                        <a href="#" class="btn g-btn-outline-red g-btn-size-2 g-rounded-20 g-mb-10 g-mb-sm-0 g-mr-5"><i class="fa fa-google-plus g-mr-10"></i><span>Google</span></a>
                                        <a href="#" class="btn g-btn-outline-blue g-btn-size-2 g-rounded-20 g-mb-10 g-mb-sm-0 g-mr-5"><i class="fa fa-twitter g-mr-10"></i><span>Twitter</span></a>
                                        <a href="#" class="btn g-btn-outline-blue-darken g-btn-size-2 g-rounded-20 g-mb-10 g-mb-sm-0 g-mr-5"><i class="fa fa-linkedin g-mr-10"></i><span>LinkedIn</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8 col-lg-4 g-pl-lg-30">
                        <!-- Sidebar -->
                        {% include '../_partials/sidebar.html' %}
                        <!-- END Sidebar -->
                    </div>
                </div>

                <section class="g-pt-80">
                    <div class="container">

                        <div class="row">
                            <div class="col-md-8">
                                <h3 class="g-mb-30 font-weight-bold">4 Comments</h3>

                                <!-- Blog Comments -->
                                <div class="blog-comments-section">

                                    <!-- Comment -->
                                    <div class="comment">
                                        <div class="comment-author d-sm-flex text-center text-sm-left g-mb-10">
                                            <div class="author-thumb g-mb-15 g-mb-sm-0">
                                                <img src="assets/images/member1-1.jpg" alt="Author Thumbnail">
                                            </div>
                                            <div>
                                                <div class="comment-body triangle-shape g-ml-10 g-ml-sm-30 g-p-15 g-p-sm-30">
                                                    <div class="author-name">
                                                        <h6 class="font-weight-bold">Johnnie Barnes </h6>
                                                    </div>
                                                    <span class="small review-date text-muted g-mb-15"> 18 hours ago</span>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolorum eaque expedita laboriosam maxime non provident? Aut beatae dolor, doloremque in minima mollitia natus, nulla odio pariatur totam ut veniam.</p>
                                                </div>

                                                <div class="g-ml-sm-60 g-mt-5">
                                                    <a class="reply-btn btn-link" data-toggle="collapse" href="#replyCommentCollapse" aria-expanded="false" aria-controls="replyCommentCollapse">Reply</a>
                                                </div>

                                                <div class="g-py-10">
                                                    <div class="collapse" id="replyCommentCollapse">
                                                        <div class="reply-form g-mt-20 g-ml-10 g-ml-sm-30">
                                                            <div class="row no-gutters">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group g-pr-sm-5">
                                                                        <input class="form-control g-border-gray-lighten-3" type="text" id="reply-name" required placeholder="Bill Will">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group g-pl-sm-5">
                                                                        <input class="form-control g-border-gray-lighten-3" type="email" id="reply-email" required placeholder="billwill@gmail.com">
                                                                    </div>
                                                                </div>

                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <textarea class="form-control g-border-gray-lighten-3" id="reply-text" rows="4" required placeholder="Reply your message"></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12 g-mb-20">
                                                                    <button class="btn g-btn-primary" type="submit">Reply to John Doe</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Reply Comment -->
                                                <div class="reply-comment">
                                                    <div class="comment-author d-sm-flex text-center text-sm-left">
                                                        <div class="author-thumb g-mb-15 g-mb-sm-0">
                                                            <img src="assets/images/member2-1.jpg" width="100" alt="Author Thumbnail">
                                                        </div>
                                                        <div>
                                                            <div class="comment-body triangle-shape g-ml-10 g-ml-sm-30 g-p-15 g-p-sm-30">
                                                                <div class="author-name">
                                                                    <h6 class="font-weight-bold">Johnnie Barnes </h6>
                                                                </div>
                                                                <span class="small review-date text-muted g-mb-15"> 18 hours ago</span>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolorum eaque expedita laboriosam maxime non provident? Aut beatae dolor, doloremque in minima mollitia natus, nulla odio pariatur totam ut veniam.</p>
                                                            </div>
                                                            <div class="collapse" id="replyCommentCollapse2">
                                                                <div class="reply-form g-mt-20 g-ml-10 g-ml-sm-30">
                                                                    <div class="row no-gutters">
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group g-pr-sm-5">
                                                                                <input class="form-control g-border-gray-lighten-3" type="text" id="reply-name2" required placeholder="Bill Will">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group g-pl-sm-5">
                                                                                <input class="form-control g-border-gray-lighten-3" type="email" id="reply-email2" required placeholder="billwill@gmail.com">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <div class="form-group">
                                                                                <textarea class="form-control g-border-gray-lighten-3" id="reply-text2" rows="4" required placeholder="Reply your message"></textarea>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 g-mb-20">
                                                                            <button class="btn g-btn-primary" type="submit">Reply to John Doe</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="g-ml-sm-60 g-mt-5">
                                                                <a class="reply-btn btn-link" data-toggle="collapse" href="#replyCommentCollapse3" aria-expanded="false" aria-controls="replyCommentCollapse1">Reply</a>
                                                            </div>
                                                            <div class="g-py-10">
                                                                <div class="collapse" id="replyCommentCollapse3">
                                                                    <div class="reply-form g-mt-20 g-ml-10 g-ml-sm-30">
                                                                        <div class="row no-gutters">
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group g-pr-sm-5">
                                                                                    <input class="form-control g-border-gray-lighten-2" type="text" id="reply-name3" required placeholder="Bill Will">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group g-pl-sm-5">
                                                                                    <input class="form-control g-border-gray-lighten-2" type="email" id="reply-email3" required placeholder="billwill@gmail.com">
                                                                                </div>
                                                                            </div>

                                                                            <div class="col-12">
                                                                                <div class="form-group">
                                                                                    <textarea class="form-control g-border-gray-lighten-2" id="reply-text3" rows="4" required placeholder="Reply your message"></textarea>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-12 g-mb-20">
                                                                                <button class="btn g-btn-primary" type="submit">Reply to John Doe</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- END Reply Comment -->

                                                <!-- Reply Comment -->
                                                <div class="reply-comment">
                                                    <div class="comment-author d-sm-flex text-center text-sm-left">
                                                        <div class="author-thumb g-mb-15 g-mb-sm-0">
                                                            <img src="assets/images/member2-1.jpg" width="100" alt="Author Thumbnail">
                                                        </div>
                                                        <div>
                                                            <div class="comment-body triangle-shape g-ml-10 g-ml-sm-30 g-p-15 g-p-sm-30">
                                                                <div class="author-name">
                                                                    <h6 class="font-weight-bold">Johnnie Barnes </h6>
                                                                </div>
                                                                <span class="small review-date text-muted g-mb-15"> 18 hours ago</span>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolorum eaque expedita laboriosam maxime non provident? Aut beatae dolor, doloremque in minima mollitia natus, nulla odio pariatur totam ut veniam.</p>
                                                            </div>
                                                            <div class="g-ml-sm-60 g-mt-5">
                                                                <a class="reply-btn btn-link" data-toggle="collapse" href="#replyCommentCollapse4" aria-expanded="false" aria-controls="replyCommentCollapse">Reply</a>
                                                            </div>
                                                            <div class="g-py-10">
                                                                <div class="collapse" id="replyCommentCollapse4">
                                                                    <div class="reply-form g-mt-20 g-ml-10 g-ml-sm-30">
                                                                        <div class="row no-gutters">
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group g-pr-sm-5">
                                                                                    <input class="form-control g-border-gray-lighten-3" type="text" id="reply-name4" required placeholder="Bill Will">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group g-pl-sm-5">
                                                                                    <input class="form-control g-border-gray-lighten-3" type="email" id="reply-email4" required placeholder="billwill@gmail.com">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-12">
                                                                                <div class="form-group">
                                                                                    <textarea class="form-control g-border-gray-lighten-3" id="reply-text4" rows="4" required placeholder="Reply your message"></textarea>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-12 g-mb-20">
                                                                                <button class="btn g-btn-primary" type="submit">Reply to John Doe</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- END Reply Comment -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END Comment -->

                                    <!-- Comment -->
                                    <div class="comment g-mb-50">
                                        <div class="comment-author d-sm-flex text-center text-sm-left g-mb-10">
                                            <div class="author-thumb g-mb-15 g-mb-sm-0">
                                                <img src="assets/images/member1-1.jpg" width="100" alt="Author Thumbnail">
                                            </div>
                                            <div>
                                                <div class="comment-body triangle-shape g-ml-10 g-ml-sm-30 g-p-15 g-p-sm-30">
                                                    <div class="author-name">
                                                        <h6 class="font-weight-bold">Johnnie Barnes </h6>
                                                    </div>
                                                    <span class="small review-date text-muted g-mb-15"> 18 hours ago</span>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolorum eaque expedita laboriosam maxime non provident? Aut beatae dolor, doloremque in minima mollitia natus, nulla odio pariatur totam ut veniam.</p>
                                                </div>

                                                <div class="g-ml-sm-60 g-mt-5">
                                                    <a class="reply-btn btn-link" data-toggle="collapse" href="#replyCommentCollapse5" aria-expanded="false" aria-controls="replyCommentCollapse">Reply</a>
                                                </div>

                                                <div class="g-py-10">
                                                    <div class="collapse" id="replyCommentCollapse5">
                                                        <div class="reply-form g-mt-20 g-ml-10 g-ml-sm-30">
                                                            <div class="row no-gutters">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group g-pr-sm-5">
                                                                        <input class="form-control g-border-gray-lighten-3" type="text" id="reply-name5" required placeholder="Bill Will">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group g-pl-sm-5">
                                                                        <input class="form-control g-border-gray-lighten-3" type="email" id="reply-email5" required placeholder="billwill@gmail.com">
                                                                    </div>
                                                                </div>

                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <textarea class="form-control g-border-gray-lighten-3" id="reply-text5" rows="4" required placeholder="Reply your message"></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12 g-mb-20">
                                                                    <button class="btn g-btn-primary" type="submit">Reply to John Doe</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END Comment -->

                                    <nav class="g-pagination circle g-mb-50 text-center">
                                        <ul class="list-unstyled g-mb-20">
                                            <li class="page-item previous-item disabled">
                                                <a class="page-link" href="#" tabindex="-1"><i class="icon-arrow-left"></i></a>
                                            </li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><span class="g-p-5">...</span></li>
                                            <li class="page-item"><a class="page-link" href="#">24</a></li>
                                            <li class="page-item next-item">
                                                <a class="page-link" href="#"><i class="icon-arrow-right"></i></a>
                                            </li>
                                        </ul>
                                        <p class="text-muted">Page 1 of 24</p>
                                    </nav>

                                    <!-- Comment Form -->
                                    <h3 class="g-mb-30 font-weight-bold">Leave a Comment</h3>
                                    <p class="text-muted g-mb-30">Your email address will not be published. Required fields are marked *</p>
                                    <form>
                                        <div class="form-group">
                                            <label class="font-weight-bold g-font-size-14" for="review_name">Your Name</label>
                                            <input class="form-control" type="text" id="review_name" required placeholder="John Doe">
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold g-font-size-14" for="review_email">Your Email</label>
                                            <input class="form-control" type="email" id="review_email" required placeholder="johndoe@gmail.com">
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold g-font-size-14" for="review_text" class="g-mb-0">Your Review</label>
                                            <p class="g-mb-5 text-muted"><small>Maxium 500 characters</small></p>
                                            <textarea class="form-control" id="review_text" rows="10" required placeholder="Your comment goes here..."></textarea>
                                        </div>
                                        <button class="btn g-btn-size-4 g-btn-primary g-rounded-50" type="submit"><i class="icon-paper-plane g-mr-10"></i>Post your comment</button>
                                    </form>
                                    <!-- END Comment Form -->

                                </div>
                                <!-- END Blog Comments -->
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </section>

        <!-- Footer -->
        <div class="brush-effect-top">
            {% include '../_partials/footer.html' %}
        </div>
        <!-- END Footer -->
    </div>
    <!-- END Main Content -->

</div>
<!-- END Main Wrapper -->

{% endblock %}
{% block additional-footer-scripts %}{% endblock %}


