{% extends '../_partials/main-layout.html' %}
{% block page-title %}<title>Restaurant Events </title> {% endblock %}
{%- set current_page = 'Upcoming Events' -%}
{% block content %}
<!-- Main Wrapper -->

<div class="main-wrapper">

    <!-- Header -->
    <header id="header" class="g-header position-absolute g-py-30">

        <!-- Navbar -->
        <div class="g-navbar-wrapper g-navbar-ribbon ribbon-light g-navbar-white-color bg-transparent scrollspy-v1">
            {% include '../_partials/navbar.html' %}
        </div>
        <!-- END Navbar -->

    </header>
    <!-- END Header -->

    <!-- Main Content -->
    <div id="main-content">

        <!-- Page Banner -->
        {% include '../_partials/page-header-breadcrumb.html' %}
        <!-- END Page Banner -->

        <section class="g-pt-80">
            <div class="container">
                <div class="row align-items-end justify-content-center">
                    <div class="col-sm-8 col-md-6 col-lg-4">
                        <article class="g-p-10">
                            <div>
                                <img class="img-fluid" src="assets/images/16.jpg" alt="Image Description">
                            </div>
                            <div class="g-px-15">
                                <div class="g-m-0 g-p-20 g-bg-white g-shadow-v1 position-relative g-top-minus-50 g-index-up">
                                    <h6 class="font-weight-bold text-uppercase g-mb-20">
                                        <a class="g-text-bluegray-darken-1" href="#">10 ways to improve your Business</a>
                                    </h6>
                                    <p class="g-text-bluegray-darken-1 g-mb-10">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born ...</p>
                                    <p class=" g-pt-10 g-border-t g-border-gray-lighten-3">
                                        <span class="g-text-primary g-mr-5"><i class="fa fa-user"></i></span>
                                        <span><a class="text-muted" href="#">username </a> / <a href="#">category</a></span>
                                    </p>
                                </div>
                            </div>

                        </article>

                    </div>
                    <div class="col-sm-8 col-md-6 col-lg-4">
                        <article class="g-p-10">
                            <div>
                                <img class="img-fluid" src="assets/images/17.jpg" alt="Image Description">
                            </div>
                            <div class="g-px-15">
                                <div class="g-m-0 g-p-20 g-bg-white g-shadow-v1 position-relative g-top-minus-50 g-index-up">
                                    <h6 class="font-weight-bold text-uppercase g-mb-20">
                                        <a class="g-text-bluegray-darken-1" href="#">10 ways to improve your Business</a>
                                    </h6>
                                    <p class="g-text-bluegray-darken-1 g-mb-10">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born ...</p>

                                    <p class=" g-pt-10 g-border-t g-border-gray-lighten-3">
                                        <span class="g-text-primary g-mr-5"><i class="fa fa-user"></i></span>
                                        <span><a class="text-muted" href="#">username </a> / <a href="#">category</a></span>
                                    </p>
                                </div>
                            </div>

                        </article>
                    </div>
                    <div class="col-sm-8 col-md-6 col-lg-4">
                        <article class="g-p-10">
                            <div>
                                <img class="img-fluid" src="assets/images/18.jpg" alt="Image Description">
                            </div>
                            <div class="g-px-15">
                                <div class="g-m-0 g-p-20 g-bg-white g-shadow-v1 position-relative g-top-minus-50 g-index-up">
                                    <h6 class="font-weight-bold text-uppercase g-mb-20">
                                        <a class="g-text-bluegray-darken-1" href="#">10 ways to improve your Business</a>
                                    </h6>
                                    <p class="g-text-bluegray-darken-1 g-mb-10">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born ...</p>

                                    <p class=" g-pt-10 g-border-t g-border-gray-lighten-3">
                                        <span class="g-text-primary g-mr-5"><i class="fa fa-user"></i></span>
                                        <span><a class="text-muted" href="#">username </a> / <a href="#">category</a></span>
                                    </p>
                                </div>
                            </div>

                        </article>
                    </div>
                    <div class="col-sm-8 col-md-6 col-lg-4">
                        <article class="g-p-10">
                            <div>
                                <img class="img-fluid" src="assets/images/22.jpg" alt="Image Description">
                            </div>
                            <div class="g-px-15">
                                <div class="g-m-0 g-p-20 g-bg-white g-shadow-v1 position-relative g-top-minus-50 g-index-up">
                                    <h6 class="font-weight-bold text-uppercase g-mb-20">
                                        <a class="g-text-bluegray-darken-1" href="#">10 ways to improve your Business</a>
                                    </h6>
                                    <p class="g-text-bluegray-darken-1 g-mb-10">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born ...</p>

                                    <p class=" g-pt-10 g-border-t g-border-gray-lighten-3">
                                        <span class="g-text-primary g-mr-5"><i class="fa fa-user"></i></span>
                                        <span><a class="text-muted" href="#">username </a> / <a href="#">category</a></span>
                                    </p>
                                </div>
                            </div>

                        </article>
                    </div>
                    <div class="col-sm-8 col-md-6 col-lg-4">
                        <article class="g-p-10">
                            <div>
                                <img class="img-fluid" src="assets/images/20.jpg" alt="Image Description">
                            </div>
                            <div class="g-px-15">
                                <div class="g-m-0 g-p-20 g-bg-white g-shadow-v1 position-relative g-top-minus-50 g-index-up">
                                    <h6 class="font-weight-bold text-uppercase g-mb-20">
                                        <a class="g-text-bluegray-darken-1" href="#">10 ways to improve your Business</a>
                                    </h6>
                                    <p class="g-text-bluegray-darken-1 g-mb-10">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born ...</p>

                                    <p class=" g-pt-10 g-border-t g-border-gray-lighten-3">
                                        <span class="g-text-primary g-mr-5"><i class="fa fa-user"></i></span>
                                        <span><a class="text-muted" href="#">username </a> / <a href="#">category</a></span>
                                    </p>
                                </div>
                            </div>

                        </article>
                    </div>
                    <div class="col-sm-8 col-md-6 col-lg-4">
                        <article class="g-p-10">
                            <div>
                                <img class="img-fluid" src="assets/images/21.jpg" alt="Image Description">
                            </div>
                            <div class="g-px-15">
                                <div class="g-m-0 g-p-20 g-bg-white g-shadow-v1 position-relative g-top-minus-50 g-index-up">
                                    <h6 class="font-weight-bold text-uppercase g-mb-20">
                                        <a class="g-text-bluegray-darken-1" href="#">10 ways to improve your Business</a>
                                    </h6>
                                    <p class="g-text-bluegray-darken-1 g-mb-10">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born ...</p>

                                    <p class=" g-pt-10 g-border-t g-border-gray-lighten-3">
                                        <span class="g-text-primary g-mr-5"><i class="fa fa-user"></i></span>
                                        <span><a class="text-muted" href="#">username </a> / <a href="#">category</a></span>
                                    </p>
                                </div>
                            </div>

                        </article>
                    </div>

                </div>
            </div>
        </section>

        <!-- Footer -->
        <div class="brush-effect-top">
            {% include '../_partials/footer.html' %}
        </div>
        <!-- END Footer -->

    </div>
    <!-- END Main Content -->

</div>

<!-- END Main Wrapper -->
{% endblock %}
{% block additional-footer-scripts %}{% endblock %}


