{% extends '../_partials/main-layout.html' %}
{% block page-title %}<title>Restaurant Gallery </title> {% endblock %}
{%- set current_page = 'Checkout Our Place' -%}
{% block content %}
<!-- Main Wrapper -->

<div class="main-wrapper">

    <!-- Header -->
    <header id="header" class="g-header position-absolute g-py-30">

        <!-- Navbar -->
        <div class="g-navbar-wrapper g-navbar-ribbon ribbon-light g-navbar-white-color bg-transparent scrollspy-v1">
            {% include '../_partials/navbar.html' %}
        </div>
        <!-- END Navbar -->

    </header>
    <!-- END Header -->

    <!-- Main Content -->
    <div id="main-content">

        <!-- Page Banner -->
        {% include '../_partials/page-header-breadcrumb.html' %}
        <!-- END Page Banner -->

        <!-- Gallery -->
        <section class="g-py-150 images-gallery-zoom gallery images-gallery zoom">
            <div class="g-px-30 g-px-xl-150">
                <div class="row no-gutters justify-content-center">

                    <div class="col-sm-10 col-md-4 g-pb-15 g-pr-md-15">
                        <div class="gallery-item caption">
                            <a href="assets/images/1.jpg" class="popup-img" data-toggle="lightbox" data-gallery="example-gallery">
                                <div class="caption-default ">
                                    <img src="assets/images/1.jpg" alt="Image Description">
                                </div>
                                <div class="caption-active g-bg-primary-opacity-6 g-flex-center">
                                    <div class="text-center">
                                        <i class="icon-magnifier-add g-text-white g-font-size-25"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-10 col-md-4 g-pb-15 g-pr-md-15">
                        <div class="gallery-item caption">
                            <a href="assets/images/2.jpg" class="popup-img" data-toggle="lightbox" data-gallery="example-gallery">
                                <div class="caption-default ">
                                    <img src="assets/images/2.jpg" alt="Image Description">
                                </div>
                                <div class="caption-active g-bg-primary-opacity-6 g-flex-center">
                                    <div class="text-center">
                                        <i class="icon-magnifier-add g-text-white g-font-size-25"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-10 col-md-4 g-pb-15 g-pr-md-15">
                        <div class="gallery-item caption">
                            <a href="assets/images/3.jpg" class="popup-img" data-toggle="lightbox" data-gallery="example-gallery">
                                <div class="caption-default ">
                                    <img src="assets/images/3.jpg" alt="Image Description">
                                </div>
                                <div class="caption-active g-bg-primary-opacity-6 g-flex-center">
                                    <div class="text-center">
                                        <i class="icon-magnifier-add g-text-white g-font-size-25"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-10 col-md-6 g-pb-15 g-pr-md-15">
                        <div class="gallery-item caption">
                            <a href="assets/images/4.jpg" class="popup-img" data-toggle="lightbox" data-gallery="example-gallery">
                                <div class="caption-default ">
                                    <img src="assets/images/4.jpg" alt="Image Description">
                                </div>
                                <div class="caption-active g-bg-primary-opacity-6 g-flex-center">
                                    <div class="text-center">
                                        <i class="icon-magnifier-add g-text-white g-font-size-25"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-6 g-pb-15 g-pr-md-15">
                        <div class="gallery-item caption">
                            <a href="assets/images/5.jpg" class="popup-img" data-toggle="lightbox" data-gallery="example-gallery">
                                <div class="caption-default ">
                                    <img src="assets/images/5.jpg" alt="Image Description">
                                </div>
                                <div class="caption-active g-bg-primary-opacity-6 g-flex-center">
                                    <div class="text-center">
                                        <i class="icon-magnifier-add g-text-white g-font-size-25"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-10 col-md-4 g-pb-15 g-pr-md-15">
                        <div class="gallery-item caption">
                            <a href="assets/images/6.jpg" class="popup-img" data-toggle="lightbox" data-gallery="example-gallery">
                                <div class="caption-default ">
                                    <img src="assets/images/6.jpg" alt="Image Description">
                                </div>
                                <div class="caption-active g-bg-primary-opacity-6 g-flex-center">
                                    <div class="text-center">
                                        <i class="icon-magnifier-add g-text-white g-font-size-25"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-4 g-pb-15 g-pr-md-15">
                        <div class="gallery-item caption">
                            <a href="assets/images/7.jpg" class="popup-img" data-toggle="lightbox" data-gallery="example-gallery">
                                <div class="caption-default ">
                                    <img src="assets/images/7.jpg" alt="Image Description">
                                </div>
                                <div class="caption-active g-bg-primary-opacity-6 g-flex-center">
                                    <div class="text-center">
                                        <i class="icon-magnifier-add g-text-white g-font-size-25"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-4 g-pb-15 g-pr-md-15">
                        <div class="gallery-item caption">
                            <a href="assets/images/8.jpg" class="popup-img" data-toggle="lightbox" data-gallery="example-gallery">
                                <div class="caption-default ">
                                    <img src="assets/images/8.jpg" alt="Image Description">
                                </div>
                                <div class="caption-active g-bg-primary-opacity-6 g-flex-center">
                                    <div class="text-center">
                                        <i class="icon-magnifier-add g-text-white g-font-size-25"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Gallery -->

        <!-- Footer -->
        <div class="brush-effect-top">
            {% include '../_partials/footer.html' %}
        </div>
        <!-- END Footer -->

    </div>
    <!-- END Main Content -->

</div>
<!-- END Main Wrapper -->
{% endblock %}
{% block additional-footer-scripts %}{% endblock %}


