{% extends '../_partials/main-layout.html' %}
{% block page-title %}<title>Restaurant Menu </title> {% endblock %}
{%- set current_page = 'Menu' -%}
{% block content %}
<!-- Main Wrapper -->

<div class="main-wrapper">

    <!-- Header -->
    <header id="header" class="g-header position-absolute g-py-30">

        <!-- Navbar -->
        <div class="g-navbar-wrapper g-navbar-ribbon ribbon-light g-navbar-white-color bg-transparent scrollspy-v1">
            {% include '../_partials/navbar.html' %}
        </div>
        <!-- END Navbar -->

    </header>
    <!-- END Header -->

    <!-- Main Content -->
    <div id="main-content">

        <!-- Page Banner -->
        {% include '../_partials/page-header-breadcrumb.html' %}
        <!-- END Page Banner -->

        <!-- Menu -->

        <!-- Starters -->
        <section class="g-py-80">
            <div class="container">
                <div class="section-title text-center g-mb-70">
                    <h2 class="font-dancing g-font-size-sm-50 g-mb-20 g-heading-v1-center">Starters</h2>
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, veniam!</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-10 col-md-6 g-px-20">
                        <article class="d-flex g-pb-15 g-mb-15">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-sm-3 text-center g-mb-10 g-mb-sm-0">
                                    <img class="img-fluid rounded-circle g-shadow-v2 text-center" src="assets/images/cake.jpg" alt="Image Description">
                                </div>
                                <div class="col-sm-9">
                                    <div class="menu-body">
                                        <div class="g-mb-8 g-flex-middle">
                                            <div class="menu-title">
                                                <h6 class="text-uppercase font-weight-bold">Breakfast</h6>
                                            </div>
                                            <div class="line-separator g-bg-gray-lighten-3 g-mx-10"></div>
                                            <div class="price ml-auto g-px-7 g-py-3 g-rounded-5 g-bg-primary">
                                                <span class="g-font-size-12">10$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-muted">( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter ) </p>
                                </div>
                            </div>
                        </article>
                        <article class="d-flex g-pb-15 g-mb-15">
                            <div class="row align-items-center">
                                <div class="col-sm-3 text-center g-mb-10 g-mb-sm-0">
                                    <img class="img-fluid rounded-circle g-shadow-v2" src="assets/images/donut.jpg" alt="Image Description">
                                </div>
                                <div class="col-sm-9">
                                    <div class="menu-body">
                                        <div class="g-mb-8 g-flex-middle">
                                            <div class="menu-title">
                                                <h6 class="text-uppercase font-weight-bold">Breakfast</h6>
                                            </div>
                                            <div class="line-separator g-bg-gray-lighten-3 g-mx-10"></div>
                                            <div class="price ml-auto g-px-7 g-py-3 g-rounded-5 g-bg-primary">
                                                <span class="g-font-size-12">10$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-muted">( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter ) </p>
                                </div>
                            </div>
                        </article>
                        <article class="d-flex g-pb-15 g-mb-15">
                            <div class="row align-items-center">
                                <div class="col-sm-3 text-center g-mb-10 g-mb-sm-0">
                                    <img class="img-fluid rounded-circle g-shadow-v2" src="assets/images/soup.jpg" alt="Image Description">
                                </div>
                                <div class="col-sm-9">
                                    <div class="menu-body">
                                        <div class="g-mb-8 g-flex-middle">
                                            <div class="menu-title">
                                                <h6 class="text-uppercase font-weight-bold">Breakfast</h6>
                                            </div>
                                            <div class="line-separator g-bg-gray-lighten-3 g-mx-10"></div>
                                            <div class="price ml-auto g-px-7 g-py-3 g-rounded-5 g-bg-primary">
                                                <span class="g-font-size-12">10$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-muted">( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter ) </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-10 col-md-6 g-px-20">
                        <article class="d-flex g-pb-15 g-mb-15">
                            <div class="row align-items-center">
                                <div class="col-sm-3 text-center g-mb-10 g-mb-sm-0">
                                    <img class="img-fluid rounded-circle g-shadow-v2" src="assets/images/donut.jpg" alt="Image Description">
                                </div>
                                <div class="col-sm-9">
                                    <div class="menu-body">
                                        <div class="g-mb-8 g-flex-middle">
                                            <div class="menu-title">
                                                <h6 class="text-uppercase font-weight-bold">Breakfast</h6>
                                            </div>
                                            <div class="line-separator g-bg-gray-lighten-3 g-mx-10"></div>
                                            <div class="price ml-auto g-px-7 g-py-3 g-rounded-5 g-bg-primary">
                                                <span class="g-font-size-12">10$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-muted">( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter ) </p>
                                </div>
                            </div>
                        </article>
                        <article class="d-flex g-pb-15 g-mb-15">
                            <div class="row align-items-center">
                                <div class="col-sm-3 text-center g-mb-10 g-mb-sm-0">
                                    <img class="img-fluid rounded-circle g-shadow-v2" src="assets/images/coffee.jpg" alt="Image Description">
                                </div>
                                <div class="col-sm-9">
                                    <div class="menu-body">
                                        <div class="g-mb-8 g-flex-middle">
                                            <div class="menu-title">
                                                <h6 class="text-uppercase font-weight-bold">Breakfast</h6>
                                            </div>
                                            <div class="line-separator g-bg-gray-lighten-3 g-mx-10"></div>
                                            <div class="price ml-auto g-px-7 g-py-3 g-rounded-5 g-bg-primary">
                                                <span class="g-font-size-12">10$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-muted">( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter ) </p>
                                </div>
                            </div>
                        </article>
                        <article class="d-flex g-pb-15 g-mb-15">
                            <div class="row align-items-center">
                                <div class="col-sm-3 text-center g-mb-10 g-mb-sm-0">
                                    <img class="img-fluid rounded-circle g-shadow-v2" src="assets/images/cake.jpg" alt="Image Description">
                                </div>
                                <div class="col-sm-9">
                                    <div class="menu-body">
                                        <div class="g-mb-8 g-flex-middle">
                                            <div class="menu-title">
                                                <h6 class="text-uppercase font-weight-bold">Breakfast</h6>
                                            </div>
                                            <div class="line-separator g-bg-gray-lighten-3 g-mx-10"></div>
                                            <div class="price ml-auto g-px-7 g-py-3 g-rounded-5 g-bg-primary">
                                                <span class="g-font-size-12">10$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-muted">( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter ) </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>

        <!-- Sandwiches -->
        <section class="brush-effect-bottom brush-effect-top position-relative g-py-150 g-text-white bg-fixed" style="background: url('assets/images/11.jpg');">
            <div class="overlay g-bg-dark-opacity-9"></div>
            <div class="container">
                <div class="section-title text-center g-mb-70 position-relative">
                    <h2 class="font-dancing g-font-size-sm-50 g-mb-20 g-heading-v1-center">Sandwiches</h2>
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, veniam!</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-10 col-md-6 g-px-20">
                        <article class="d-flex g-pb-15 g-mb-15">
                            <div class="row align-items-center">
                                <div class="col-sm-3 text-center g-mb-10 g-mb-sm-0">
                                    <img class="img-fluid rounded-circle" src="assets/images/cake.jpg" alt="Image Description">
                                </div>
                                <div class="col-sm-9">
                                    <div class="menu-body">
                                        <div class="g-mb-8 g-flex-middle">
                                            <div class="menu-title">
                                                <h6 class="text-uppercase font-weight-bold">Breakfast</h6>
                                            </div>
                                            <div class="line-separator g-bg-gray-darken-3 g-mx-10"></div>
                                            <div class="price ml-auto g-px-7 g-py-3 g-rounded-5 g-bg-primary">
                                                <span class="g-font-size-12">10$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-muted">( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter ) </p>
                                </div>
                            </div>
                        </article>
                        <article class="d-flex g-pb-15 g-mb-15">
                            <div class="row align-items-center">
                                <div class="col-sm-3 text-center g-mb-10 g-mb-sm-0">
                                    <img class="img-fluid rounded-circle" src="assets/images/donut.jpg" alt="Image Description">
                                </div>
                                <div class="col-sm-9">
                                    <div class="menu-body">
                                        <div class="g-mb-8 g-flex-middle">
                                            <div class="menu-title">
                                                <h6 class="text-uppercase font-weight-bold">Breakfast</h6>
                                            </div>
                                            <div class="line-separator g-bg-gray-darken-3 g-mx-10"></div>
                                            <div class="price ml-auto g-px-7 g-py-3 g-rounded-5 g-bg-primary">
                                                <span class="g-font-size-12">10$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-muted">( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter ) </p>
                                </div>
                            </div>
                        </article>
                        <article class="d-flex g-pb-15 g-mb-15">
                            <div class="row align-items-center">
                                <div class="col-sm-3 text-center g-mb-10 g-mb-sm-0">
                                    <img class="img-fluid rounded-circle" src="assets/images/soup.jpg" alt="Image Description">
                                </div>
                                <div class="col-sm-9">
                                    <div class="menu-body">
                                        <div class="g-mb-8 g-flex-middle">
                                            <div class="menu-title">
                                                <h6 class="text-uppercase font-weight-bold">Breakfast</h6>
                                            </div>
                                            <div class="line-separator g-bg-gray-darken-3 g-mx-10"></div>
                                            <div class="price ml-auto g-px-7 g-py-3 g-rounded-5 g-bg-primary">
                                                <span class="g-font-size-12">10$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-muted">( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter ) </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-10 col-md-6 g-px-20">
                        <article class="d-flex g-pb-15 g-mb-15">
                            <div class="row align-items-center">
                                <div class="col-sm-3 text-center g-mb-10 g-mb-sm-0">
                                    <img class="img-fluid rounded-circle" src="assets/images/donut.jpg" alt="Image Description">
                                </div>
                                <div class="col-sm-9">
                                    <div class="menu-body">
                                        <div class="g-mb-8 g-flex-middle">
                                            <div class="menu-title">
                                                <h6 class="text-uppercase font-weight-bold">Breakfast</h6>
                                            </div>
                                            <div class="line-separator g-bg-gray-darken-3 g-mx-10"></div>
                                            <div class="price ml-auto g-px-7 g-py-3 g-rounded-5 g-bg-primary">
                                                <span class="g-font-size-12">10$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-muted">( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter ) </p>
                                </div>
                            </div>
                        </article>
                        <article class="d-flex g-pb-15 g-mb-15">
                            <div class="row align-items-center">
                                <div class="col-sm-3 text-center g-mb-10 g-mb-sm-0">
                                    <img class="img-fluid rounded-circle" src="assets/images/coffee.jpg" alt="Image Description">
                                </div>
                                <div class="col-sm-9">
                                    <div class="menu-body">
                                        <div class="g-mb-8 g-flex-middle">
                                            <div class="menu-title">
                                                <h6 class="text-uppercase font-weight-bold">Breakfast</h6>
                                            </div>
                                            <div class="line-separator g-bg-gray-darken-3 g-mx-10"></div>
                                            <div class="price ml-auto g-px-7 g-py-3 g-rounded-5 g-bg-primary">
                                                <span class="g-font-size-12">10$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-muted">( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter ) </p>
                                </div>
                            </div>
                        </article>
                        <article class="d-flex g-pb-15 g-mb-15">
                            <div class="row align-items-center">
                                <div class="col-sm-3 text-center g-mb-10 g-mb-sm-0">
                                    <img class="img-fluid rounded-circle" src="assets/images/cake.jpg" alt="Image Description">
                                </div>
                                <div class="col-sm-9">
                                    <div class="menu-body">
                                        <div class="g-mb-8 g-flex-middle">
                                            <div class="menu-title">
                                                <h6 class="text-uppercase font-weight-bold">Breakfast</h6>
                                            </div>
                                            <div class="line-separator g-bg-gray-darken-3 g-mx-10"></div>
                                            <div class="price ml-auto g-px-7 g-py-3 g-rounded-5 g-bg-primary">
                                                <span class="g-font-size-12">10$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-muted">( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter ) </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>

        <!-- Salads -->
        <section class="g-py-80">
            <div class="container">
                <div class="section-title text-center g-mb-70">
                    <h2 class="font-dancing g-font-size-sm-50 g-mb-20 g-heading-v1-center">Salads</h2>
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, veniam!</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-10 col-md-6 g-px-20">
                        <article class="d-flex g-pb-15 g-mb-15">
                            <div class="row align-items-center">
                                <div class="col-sm-3 text-center g-mb-10 g-mb-sm-0">
                                    <img class="img-fluid rounded-circle g-shadow-v2" src="assets/images/cake.jpg" alt="Image Description">
                                </div>
                                <div class="col-sm-9">
                                    <div class="menu-body">
                                        <div class="g-mb-8 g-flex-middle">
                                            <div class="menu-title">
                                                <h6 class="text-uppercase font-weight-bold">Breakfast</h6>
                                            </div>
                                            <div class="line-separator g-bg-gray-lighten-3 g-mx-10"></div>
                                            <div class="price ml-auto g-px-7 g-py-3 g-rounded-5 g-bg-primary">
                                                <span class="g-font-size-12">10$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-muted">( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter ) </p>
                                </div>
                            </div>
                        </article>
                        <article class="d-flex g-pb-15 g-mb-15">
                            <div class="row align-items-center">
                                <div class="col-sm-3 text-center g-mb-10 g-mb-sm-0">
                                    <img class="img-fluid rounded-circle g-shadow-v2" src="assets/images/donut.jpg" alt="Image Description">
                                </div>
                                <div class="col-sm-9">
                                    <div class="menu-body">
                                        <div class="g-mb-8 g-flex-middle">
                                            <div class="menu-title">
                                                <h6 class="text-uppercase font-weight-bold">Breakfast</h6>
                                            </div>
                                            <div class="line-separator g-bg-gray-lighten-3 g-mx-10"></div>
                                            <div class="price ml-auto g-px-7 g-py-3 g-rounded-5 g-bg-primary">
                                                <span class="g-font-size-12">10$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-muted">( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter ) </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-10 col-md-6 g-px-20">
                        <article class="d-flex g-pb-15 g-mb-15">
                            <div class="row align-items-center">
                                <div class="col-sm-3 text-center g-mb-10 g-mb-sm-0">
                                    <img class="img-fluid rounded-circle g-shadow-v2" src="assets/images/donut.jpg" alt="Image Description">
                                </div>
                                <div class="col-sm-9">
                                    <div class="menu-body">
                                        <div class="g-mb-8 g-flex-middle">
                                            <div class="menu-title">
                                                <h6 class="text-uppercase font-weight-bold">Breakfast</h6>
                                            </div>
                                            <div class="line-separator g-bg-gray-lighten-3 g-mx-10"></div>
                                            <div class="price ml-auto g-px-7 g-py-3 g-rounded-5 g-bg-primary">
                                                <span class="g-font-size-12">10$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-muted">( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter ) </p>
                                </div>
                            </div>
                        </article>
                        <article class="d-flex g-pb-15 g-mb-15">
                            <div class="row align-items-center">
                                <div class="col-sm-3 text-center g-mb-10 g-mb-sm-0">
                                    <img class="img-fluid rounded-circle g-shadow-v2" src="assets/images/coffee.jpg" alt="Image Description">
                                </div>
                                <div class="col-sm-9">
                                    <div class="menu-body">
                                        <div class="g-mb-8 g-flex-middle">
                                            <div class="menu-title">
                                                <h6 class="text-uppercase font-weight-bold">Breakfast</h6>
                                            </div>
                                            <div class="line-separator g-bg-gray-lighten-3 g-mx-10"></div>
                                            <div class="price ml-auto g-px-7 g-py-3 g-rounded-5 g-bg-primary">
                                                <span class="g-font-size-12">10$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-muted">( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter ) </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>

        <!-- Pizza -->
        <section class="brush-effect-bottom brush-effect-top position-relative g-py-150 g-text-white bg-fixed" style="background: url('assets/images/11.jpg');">
            <div class="overlay g-bg-dark-opacity-9"></div>
            <div class="container">
                <div class="section-title text-center g-mb-70 position-relative">
                    <h2 class="font-dancing g-font-size-sm-50 g-mb-20 g-heading-v1-center">Pizza</h2>
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, veniam!</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-10 col-md-6 g-px-20">
                        <article class="d-flex g-pb-15 g-mb-15">
                            <div class="row align-items-center">
                                <div class="col-sm-3 text-center g-mb-10 g-mb-sm-0">
                                    <img class="img-fluid rounded-circle" src="assets/images/cake.jpg" alt="Image Description">
                                </div>
                                <div class="col-sm-9">
                                    <div class="menu-body">
                                        <div class="g-mb-8 g-flex-middle">
                                            <div class="menu-title">
                                                <h6 class="text-uppercase font-weight-bold">Breakfast</h6>
                                            </div>
                                            <div class="line-separator g-bg-gray-darken-3 g-mx-10"></div>
                                            <div class="price ml-auto g-px-7 g-py-3 g-rounded-5 g-bg-primary">
                                                <span class="g-font-size-12">10$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-muted">( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter ) </p>
                                </div>
                            </div>
                        </article>
                        <article class="d-flex g-pb-15 g-mb-15">
                            <div class="row align-items-center">
                                <div class="col-sm-3 text-center g-mb-10 g-mb-sm-0">
                                    <img class="img-fluid rounded-circle" src="assets/images/donut.jpg" alt="Image Description">
                                </div>
                                <div class="col-sm-9">
                                    <div class="menu-body">
                                        <div class="g-mb-8 g-flex-middle">
                                            <div class="menu-title">
                                                <h6 class="text-uppercase font-weight-bold">Breakfast</h6>
                                            </div>
                                            <div class="line-separator g-bg-gray-darken-3 g-mx-10"></div>
                                            <div class="price ml-auto g-px-7 g-py-3 g-rounded-5 g-bg-primary">
                                                <span class="g-font-size-12">10$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-muted">( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter ) </p>
                                </div>
                            </div>
                        </article>
                        <article class="d-flex g-pb-15 g-mb-15">
                            <div class="row align-items-center">
                                <div class="col-sm-3 text-center g-mb-10 g-mb-sm-0">
                                    <img class="img-fluid rounded-circle" src="assets/images/soup.jpg" alt="Image Description">
                                </div>
                                <div class="col-sm-9">
                                    <div class="menu-body">
                                        <div class="g-mb-8 g-flex-middle">
                                            <div class="menu-title">
                                                <h6 class="text-uppercase font-weight-bold">Breakfast</h6>
                                            </div>
                                            <div class="line-separator g-bg-gray-darken-3 g-mx-10"></div>
                                            <div class="price ml-auto g-px-7 g-py-3 g-rounded-5 g-bg-primary">
                                                <span class="g-font-size-12">10$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-muted">( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter ) </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-10 col-md-6 g-px-20">
                        <article class="d-flex g-pb-15 g-mb-15">
                            <div class="row align-items-center">
                                <div class="col-sm-3 text-center g-mb-10 g-mb-sm-0">
                                    <img class="img-fluid rounded-circle" src="assets/images/donut.jpg" alt="Image Description">
                                </div>
                                <div class="col-sm-9">
                                    <div class="menu-body">
                                        <div class="g-mb-8 g-flex-middle">
                                            <div class="menu-title">
                                                <h6 class="text-uppercase font-weight-bold">Breakfast</h6>
                                            </div>
                                            <div class="line-separator g-bg-gray-darken-3 g-mx-10"></div>
                                            <div class="price ml-auto g-px-7 g-py-3 g-rounded-5 g-bg-primary">
                                                <span class="g-font-size-12">10$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-muted">( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter ) </p>
                                </div>
                            </div>
                        </article>
                        <article class="d-flex g-pb-15 g-mb-15">
                            <div class="row align-items-center">
                                <div class="col-sm-3 text-center g-mb-10 g-mb-sm-0">
                                    <img class="img-fluid rounded-circle" src="assets/images/coffee.jpg" alt="Image Description">
                                </div>
                                <div class="col-sm-9">
                                    <div class="menu-body">
                                        <div class="g-mb-8 g-flex-middle">
                                            <div class="menu-title">
                                                <h6 class="text-uppercase font-weight-bold">Breakfast</h6>
                                            </div>
                                            <div class="line-separator g-bg-gray-darken-3 g-mx-10"></div>
                                            <div class="price ml-auto g-px-7 g-py-3 g-rounded-5 g-bg-primary">
                                                <span class="g-font-size-12">10$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-muted">( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter ) </p>
                                </div>
                            </div>
                        </article>
                        <article class="d-flex g-pb-15 g-mb-15">
                            <div class="row align-items-center">
                                <div class="col-sm-3 text-center g-mb-10 g-mb-sm-0">
                                    <img class="img-fluid rounded-circle" src="assets/images/cake.jpg" alt="Image Description">
                                </div>
                                <div class="col-sm-9">
                                    <div class="menu-body">
                                        <div class="g-mb-8 g-flex-middle">
                                            <div class="menu-title">
                                                <h6 class="text-uppercase font-weight-bold">Breakfast</h6>
                                            </div>
                                            <div class="line-separator g-bg-gray-darken-3 g-mx-10"></div>
                                            <div class="price ml-auto g-px-7 g-py-3 g-rounded-5 g-bg-primary">
                                                <span class="g-font-size-12">10$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-muted">( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter ) </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>

        <!-- Drinks -->
        <section class="g-py-80">
            <div class="container">
                <div class="section-title text-center g-mb-70">
                    <h2 class="font-dancing g-font-size-sm-50 g-mb-20 g-heading-v1-center">Drinks</h2>
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, veniam!</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-10 col-md-6 g-px-20">
                        <article class="d-flex g-pb-15 g-mb-15">
                            <div class="row align-items-center">
                                <div class="col-sm-3 text-center g-mb-10 g-mb-sm-0">
                                    <img class="img-fluid rounded-circle g-shadow-v2" src="assets/images/cake.jpg" alt="Image Description">
                                </div>
                                <div class="col-sm-9">
                                    <div class="menu-body">
                                        <div class="g-mb-8 g-flex-middle">
                                            <div class="menu-title">
                                                <h6 class="text-uppercase font-weight-bold">Breakfast</h6>
                                            </div>
                                            <div class="line-separator g-bg-gray-lighten-3 g-mx-10"></div>
                                            <div class="price ml-auto g-px-7 g-py-3 g-rounded-5 g-bg-primary">
                                                <span class="g-font-size-12">10$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-muted">( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter ) </p>
                                </div>
                            </div>
                        </article>
                        <article class="d-flex g-pb-15 g-mb-15">
                            <div class="row align-items-center">
                                <div class="col-sm-3 text-center g-mb-10 g-mb-sm-0">
                                    <img class="img-fluid rounded-circle g-shadow-v2" src="assets/images/donut.jpg" alt="Image Description">
                                </div>
                                <div class="col-sm-9">
                                    <div class="menu-body">
                                        <div class="g-mb-8 g-flex-middle">
                                            <div class="menu-title">
                                                <h6 class="text-uppercase font-weight-bold">Breakfast</h6>
                                            </div>
                                            <div class="line-separator g-bg-gray-lighten-3 g-mx-10"></div>
                                            <div class="price ml-auto g-px-7 g-py-3 g-rounded-5 g-bg-primary">
                                                <span class="g-font-size-12">10$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-muted">( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter ) </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-10 col-md-6 g-px-20">
                        <article class="d-flex g-pb-15 g-mb-15">
                            <div class="row align-items-center">
                                <div class="col-sm-3 text-center g-mb-10 g-mb-sm-0">
                                    <img class="img-fluid rounded-circle g-shadow-v2" src="assets/images/donut.jpg" alt="Image Description">
                                </div>
                                <div class="col-sm-9">
                                    <div class="menu-body">
                                        <div class="g-mb-8 g-flex-middle">
                                            <div class="menu-title">
                                                <h6 class="text-uppercase font-weight-bold">Breakfast</h6>
                                            </div>
                                            <div class="line-separator g-bg-gray-lighten-3 g-mx-10"></div>
                                            <div class="price ml-auto g-px-7 g-py-3 g-rounded-5 g-bg-primary">
                                                <span class="g-font-size-12">10$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-muted">( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter ) </p>
                                </div>
                            </div>
                        </article>
                        <article class="d-flex g-pb-15 g-mb-15">
                            <div class="row align-items-center">
                                <div class="col-sm-3 text-center g-mb-10 g-mb-sm-0">
                                    <img class="img-fluid rounded-circle g-shadow-v2" src="assets/images/coffee.jpg" alt="Image Description">
                                </div>
                                <div class="col-sm-9">
                                    <div class="menu-body">
                                        <div class="g-mb-8 g-flex-middle">
                                            <div class="menu-title">
                                                <h6 class="text-uppercase font-weight-bold">Breakfast</h6>
                                            </div>
                                            <div class="line-separator g-bg-gray-lighten-3 g-mx-10"></div>
                                            <div class="price ml-auto g-px-7 g-py-3 g-rounded-5 g-bg-primary">
                                                <span class="g-font-size-12">10$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-muted">( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter ) </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Menu -->

        <!-- Footer -->
        <div class="brush-effect-top">
            {% include '../_partials/footer.html' %}
        </div>
        <!-- END Footer -->

    </div>
    <!-- END Main Content -->

</div>

<!-- END Main Wrapper -->
{% endblock %}
{% block additional-footer-scripts %}{% endblock %}


