
// Tabs
// -------------------------------------------------------------------------------------------------

.tabs-wrapper {
    position: relative !important;
}


.food-item-box {
    position: absolute;
}
.g-nav-tabs {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative !important;
}