
<footer class="position-relative bg-fixed bg-cover-bottom g-pt-100 g-text-gray-lighten-1" style="background-image: url('assets/images/11.jpg')">
    <div class="overlay g-bg-dark-opacity-9"></div>

    <div class="container g-pb-100">

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8 g-px-20">
                <div class="widget g-mb-60 text-center text-lg-left">
                    <h6 class="widget-title g-mb-25">Contact Us</h6>
                    <!--<h6 class="font-weight-bold g-mb-20 g-text-gray-lighten-1">123 456 7890</h6>-->
                    <ul class="list-unstyled">
                        <li class="g-mb-15"><span class="font-weight-bold g-text-white">Address:</span> 1234 Street Name, City Name, USA</li>
                        <li class="g-mb-15"><span class="font-weight-bold g-text-white">Phone:</span> 123 456 7890</li>
                        <li><span class="font-weight-bold g-text-white">E-mail:</span> email@example.com</li>
                    </ul>
                </div>
                <div class="widget text-center text-lg-left">
                    <h6 class="widget-title g-mb-25">Opening Times</h6>
                    <div class="g-mb-20">
                        <p class="g-mb-10">8:00 AM - 11:30 PM</p>
                        <h6 class=" font-weight-bold g-text-white">Every Day</h6>
                    </div>
                    <div>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="widget text-center text-lg-left g-pr-lg-10">
                    <h6 class="widget-title g-mb-25">Latest Twitter</h6>
                    <div class="g-mb-60">
                        <h6 class="g-mb-10 font-weight-bold g-text-white"><i class="fa fa-twitter g-mr-10"></i><a class="g-text-primary" href="#">@mardigrill</a></h6>
                        <p class="g-mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur, dignissimos, explicabo facere fugit hic necessitatibus neque nisi officia officiis quidem?</p>
                        <p><a class="font-weight-bold" href="#">https://www.twitter.com/</a></p>
                    </div>
                    <div class="">
                        <h6 class="g-mb-10 font-weight-bold g-text-white"><i class="fa fa-twitter g-mr-10"></i><a class="g-text-primary" href="#">@mardigrill</a></h6>
                        <p class="g-mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur, dignissimos, explicabo facere fugit hic necessitatibus neque nisi officia officiis quidem?</p>
                        <p><a class="font-weight-bold" href="#">https://www.twitter.com/</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="widget text-center text-lg-left">
                    <h6 class="widget-title g-mb-25">Gallery</h6>
                    <div class="row no-gutters">
                        <div class="col-md-4 g-p-5">
                            <img class="img-fluid" src="assets/images/1.jpg" alt="">
                        </div>
                        <div class="col-md-4 g-p-5">
                            <img class="img-fluid" src="assets/images/2.jpg" alt="">
                        </div>
                        <div class="col-md-4 g-p-5">
                            <img class="img-fluid" src="assets/images/breakfast.jpg" alt="">
                        </div>
                        <div class="col-md-4 g-p-5">
                            <img class="img-fluid" src="assets/images/4.jpg" alt="">
                        </div>
                        <div class="col-md-4 g-p-5">
                            <img class="img-fluid" src="assets/images/5.jpg" alt="">
                        </div>
                        <div class="col-md-4 g-p-5">
                            <img class="img-fluid" src="assets/images/7.jpg" alt="">
                        </div>
                        <div class="col-md-4 g-p-5">
                            <img class="img-fluid" src="assets/images/8.jpg" alt="">
                        </div>
                        <div class="col-md-4 g-p-5">
                            <img class="img-fluid" src="assets/images/15.jpg" alt="">
                        </div>
                        <div class="col-md-4 g-p-5">
                            <img class="img-fluid" src="assets/images/3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="container-fluid g-bg-dark-opacity-8 position-relative copyright-container g-py-40">
        <p class="text-center g-text-gray-lighten-1">
            2019 <span><i class="fa fa-copyright"></i></span>
            Copyright <a href="../../index.html" class="g-text-gray-100">Mardigrill Template </a>. All rights reserved</p>
    </div>
    
</footer>