<div class="container">

    <div class="ribbon-wrapper">
        <nav class="navbar navbar-expand-lg">

            <div class="logo-wrapper g-px-30">
                <a href="#" class="g-text-light g-font-size-35 font-dancing">MardiGrill</a>
            </div>

            <button class="navbar-toggler navbar-toggler-right border-0 cursor-pointer" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="g-icon-size-4">
                    <span class="navbar-toggler-icon g-icon">
                      <i class="material-icons g-font-size-25">menu</i>
                    </span>
                </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto g-mr-lg-15">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle no-caret" id="homepages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                            <span class="align-middle">Homepages</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="homepages">
                            <li><a class="dropdown-item" href="index-1.html">Homepage 1</a></li>
                            <li><a class="dropdown-item" href="index-2.html">Homepage 2</a></li>
                            <li><a class="dropdown-item" href="index-3.html">Homepage 3</a></li>
                            <li><a class="dropdown-item" href="index-4.html">Homepage 4</a></li>
                            <li><a class="dropdown-item" href="index-5.html">Homepage 5</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle no-caret" id="listings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                            <span class="align-middle">Elements</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="listings">

                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle no-caret" id="features" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                            <span class="align-middle">Features</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="features">
                            <li><a class="dropdown-item" href="404.html">404</a></li>
                            <li><a class="dropdown-item" href="menu.html">Menu</a></li>
                            <li><a class="dropdown-item" href="team.html">Team Members</a></li>
                            <li><a class="dropdown-item" href="team-single.html">Team Member Profile</a></li>
                            <li><a class="dropdown-item" href="events.html">Blog</a></li>
                            <li><a class="dropdown-item" href="events-single.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="onepage-restaurant.html">Onepage</a></li>
                </ul>
            </div>
        </nav>
    </div>

</div>


