
<div class="row justify-content-center">
    <div class="col-sm-10">
        <form id="contactform" class="contact-form reservation-form">

            <div class="form-row g-mb-10">
                <div class="col-md-4 g-mb-10 g-mb-md-0">
                    <div class="input-group focus-effect">
                        <div class="input-group-prepend g-w50 g-p-0">
                            <i class="icon-user g-text-gray-darken-1"></i>
                        </div>
                        <input type="text" class="form-control bg-transparent" id="input1-1" placeholder="John Doe">
                    </div>
                </div>

                <div class="col-md-4 g-mb-10 g-mb-md-0">
                    <div class="input-group focus-effect">
                        <div class="input-group-prepend g-w50 g-p-0">
                            <i class="icon-envelope g-text-gray-darken-1"></i>
                        </div>
                        <input type="email" class="form-control bg-transparent" id="input2-1" placeholder="John Doe">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group focus-effect">
                        <div class="input-group-prepend g-w50 g-p-0">
                            <i class="icon-phone g-text-gray-darken-1"></i>
                        </div>
                        <input type="text" class="form-control bg-transparent" id="input3-1" placeholder="John Doe">
                    </div>

                </div>

            </div>
            <div class="form-group g-mb-60">
                <div class="input-group focus-effect">
                    <div class="input-group-prepend g-w50 g-p-0">
                        <i class="icon-speech g-text-gray-darken-1"></i>
                    </div>
                    <textarea class="form-control bg-transparent" rows="5" id="input4-1" placeholder="Your message goes here..."></textarea>
                </div>
            </div>
            <div class="form-group g-mb-0 text-center">
                <button type="submit" class="btn g-btn-lg-lg g-btn-primary g-mr-15 g-rounded-50"><i class="icon-pencil g-mr-10"></i>Reserve Table</button>
            </div>

        </form>
    </div>
</div>
