
<aside>
    <div class="widget search-widget g-pb-30">
        <form>
            <div class="input-group focus-effect">
                <input type="text" class="form-control g-bg-gray-100" id="input3-1" placeholder="Search">
                <div class="input-group-append g-w50 justify-content-center g-p-0 g-bg-white">
                    <i class="fa fa-search"></i>
                </div>
            </div>
        </form>
    </div>
    <div class="widget categories-widget g-mb-50">
        <div class="widget-title g-bg-primary g-py-10 g-px-20 g-border-b g-border-gray-lighten-3">
            <span class="g-text-white font-weight-bold text-uppercase">Categories</span>
        </div>
        <ul class="widget-list">
            <li class="g-py-10 g-px-20 g-border-b g-border-gray-lighten-3">
                <a href="#" class="g-flex-middle">
                    <i class="fa fa-angle-right g-mr-10" aria-hidden="true"></i>
                    <span>Cafe</span>
                    <span class="badge ml-auto text-muted font-weight-normal">(49)</span>
                </a>
            </li>
            <li class="g-py-10 g-px-20 g-border-b g-border-gray-lighten-3">
                <a href="#" class="g-flex-middle">
                    <i class="fa fa-angle-right g-mr-10" aria-hidden="true"></i>
                    <span>Photography</span>
                    <span class="badge ml-auto text-muted font-weight-normal">(49)</span>
                </a>
            </li>
            <li class="g-py-10 g-px-20 g-border-b g-border-gray-lighten-3">
                <a href="#" class="g-flex-middle">
                    <i class="fa fa-angle-right g-mr-10" aria-hidden="true"></i>
                    <span>Wine</span>
                    <span class="badge ml-auto text-muted font-weight-normal">(49)</span>
                </a>
            </li>
            <li class="g-py-10 g-px-20 g-border-b g-border-gray-lighten-3">
                <a href="#" class="g-flex-middle">
                    <i class="fa fa-angle-right g-mr-10" aria-hidden="true"></i>
                    <span>Art</span>
                    <span class="badge ml-auto text-muted font-weight-normal">(49)</span>
                </a>
            </li>
            <li class="g-py-10 g-px-20 g-border-b g-border-gray-lighten-3">
                <a href="#" class="g-flex-middle">
                    <i class="fa fa-angle-right g-mr-10" aria-hidden="true"></i>
                    <span>Dinner</span>
                    <span class="badge ml-auto text-muted font-weight-normal">(49)</span>
                </a>
            </li>
            <li class="g-py-10 g-px-20 g-border-b g-border-gray-lighten-3">
                <a href="#" class="g-flex-middle">
                    <i class="fa fa-angle-right g-mr-10" aria-hidden="true"></i>
                    <span>Hotel</span>
                    <span class="badge ml-auto text-muted font-weight-normal">(49)</span>
                </a>
            </li>
            <li class="g-py-10 g-px-20 g-border-b g-border-gray-lighten-3">
                <a href="#" class="g-flex-middle">
                    <i class="fa fa-angle-right g-mr-10" aria-hidden="true"></i>
                    <span>Romanic Dinner</span>
                    <span class="badge ml-auto text-muted font-weight-normal">(49)</span>
                </a>
            </li>
            <li class="g-py-10 g-px-20 g-border-b g-border-gray-lighten-3">
                <a href="#" class="g-flex-middle">
                    <i class="fa fa-angle-right g-mr-10" aria-hidden="true"></i>
                    <span>Travel</span>
                    <span class="badge ml-auto text-muted font-weight-normal">(49)</span>
                </a>
            </li>
            <li class="g-py-10 g-px-20 g-border-b g-border-gray-lighten-3">
                <a href="#" class="g-flex-middle">
                    <i class="fa fa-angle-right g-mr-10" aria-hidden="true"></i>
                    <span>Foodie</span>
                    <span class="badge ml-auto text-muted font-weight-normal g-font-size-14">(49)</span>
                </a>
            </li>
            <li class="g-py-10 g-px-20 g-border-b g-border-gray-lighten-3">
                <a href="#" class="g-flex-middle">
                    <i class="fa fa-angle-right g-mr-10" aria-hidden="true"></i>
                    <span>Bar</span>
                    <span class="badge ml-auto text-muted font-weight-normal g-font-size-14">(49)</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="widget latest-post-widget g-mb-50">
        <div class="widget-title g-bg-primary g-py-10 g-px-20 g-border-b g-border-gray-lighten-3">
            <span class="g-text-white font-weight-bold text-uppercase">Latest Posts</span>
        </div>
        <ul class="widget-list">
            <li class="g-py-10 g-px-20 g-border-b g-border-gray-lighten-3">
                <a href="#" class="g-flex-middle">
                    <i class="fa fa-angle-right g-mr-10" aria-hidden="true"></i>
                    <span>On the other hand, we denounce [...]</span>
                </a>
            </li>
            <li class="g-py-10 g-px-20 g-border-b g-border-gray-lighten-3">
                <a href="#" class="g-flex-middle">
                    <i class="fa fa-angle-right g-mr-10" aria-hidden="true"></i>
                    <span>The wise man therefore always [...]</span>
                </a>
            </li>
            <li class="g-py-10 g-px-20 g-border-b g-border-gray-lighten-3">
                <a href="#" class="g-flex-middle">
                    <i class="fa fa-angle-right g-mr-10" aria-hidden="true"></i>
                    <span>These cases are perfectly simple [...]</span>
                </a>
            </li>
            <li class="g-py-10 g-px-20 g-border-b g-border-gray-lighten-3">
                <a href="#" class="g-flex-middle">
                    <i class="fa fa-angle-right g-mr-10" aria-hidden="true"></i>
                    <span>But in certain circumstances and [...]</span>
                </a>
            </li>
            <li class="g-py-10 g-px-20 g-border-b g-border-gray-lighten-3">
                <a href="#" class="g-flex-middle">
                    <i class="fa fa-angle-right g-mr-10" aria-hidden="true"></i>
                    <span>But who has any right [...]</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="widget tags-widget">
        <div class="widget-title g-bg-primary g-py-10 g-px-20 g-mb-30 g-border-0">
            <span class="g-text-white font-weight-bold text-uppercase">Popular Tags</span>
        </div>
        <div class="tags">
            <a href="#">Pizza</a>
            <a href="#">Drinks</a>
            <a href="#">Restaurant</a>
            <a href="#">Sanwiches</a>
            <a href="#">Event</a>
            <a href="#">Opening</a>
            <a href="#">Restaurant</a>
            <a href="#">Sanwiches</a>
            <a href="#">Music</a>
            <a href="#">Like</a>
            <a href="#">Instafood</a>
            <a href="#">Delicious</a>
            <a href="#">Lunch</a>
            <a href="#">Coffee</a>
            <a href="#">Design</a>
            <a href="#">Cocktails</a>
        </div>
    </div>
</aside>