
<div class="row justify-content-center">

    <!-- Member 1 -->
    <div class="col-sm-6 col-lg-3 g-mb-20">
        <div class="member g-border g-border-gray-lighten-3 g-bg-white g-bg-primary-h g-parent-text-h g-shadow-v2 g-rounded-20 g-p-30">
            <figure class="g-mb-25">
                <img src="assets/images/staff-7.jpg" class="img-fluid rounded-circle" alt="Image Description">
            </figure>
            <div class="text-center">
                <h5 class="g-mb-15">Andreea Watson</h5>
                <p class="g-text-primary text-uppercase g-font-size-12 g-mb-15 g-text-white-parent-h">Waitress</p>
                <ul class="list-inline text-center">
                    <li class="list-inline-item align-middle g-mx-0">
                        <a href="#" class="g-icon-v1 g-icon-size-2 g-icon-gray-lighten-3 g-icon-dark-h rounded-circle">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item align-middle g-mx-0">
                        <a href="#" class="g-icon-v1 g-icon g-icon-size-2 g-icon-gray-lighten-3 g-icon-dark-h rounded-circle">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item align-middle g-mx-0">
                        <a href="#" class="g-icon-v1 g-icon g-icon-size-2 g-icon-gray-lighten-3 g-icon-dark-h rounded-circle">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li class="list-inline-item align-middle g-mx-0">
                        <a href="#" class="g-icon-v1 g-icon g-icon-size-2 g-icon-gray-lighten-3 g-icon-dark-h rounded-circle">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END Member 1 -->

    <!-- Member 2 -->
    <div class="col-sm-6 col-lg-3 g-mb-20">
        <div class="member g-border g-border-gray-lighten-3 g-bg-white g-bg-primary-h g-parent-text-h g-shadow-v2 g-rounded-20 g-p-30">
            <figure class="g-mb-25">
                <img src="assets/images/staff-6.jpg" class="img-fluid rounded-circle" alt="Image Description">
            </figure>
            <div class="text-center">
                <h5 class="g-mb-15">Jenny Doe</h5>
                <p class="g-text-primary text-uppercase g-font-size-12 g-mb-15 g-text-white-parent-h">Manager</p>
                <ul class="list-inline text-center">
                    <li class="list-inline-item align-middle g-mx-0">
                        <a href="#" class="g-icon-v1 g-icon-size-2 g-icon-gray-lighten-3 g-icon-dark-h rounded-circle">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item align-middle g-mx-0">
                        <a href="#" class="g-icon-v1 g-icon g-icon-size-2 g-icon-gray-lighten-3 g-icon-dark-h rounded-circle">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item align-middle g-mx-0">
                        <a href="#" class="g-icon-v1 g-icon g-icon-size-2 g-icon-gray-lighten-3 g-icon-dark-h rounded-circle">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li class="list-inline-item align-middle g-mx-0">
                        <a href="#" class="g-icon-v1 g-icon g-icon-size-2 g-icon-gray-lighten-3 g-icon-dark-h rounded-circle">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END Member 2 -->

    <!-- Member 3 -->
    <div class="col-sm-6 col-lg-3 g-mb-20">
        <div class="member g-border g-border-gray-lighten-3 g-bg-white g-bg-primary-h g-parent-text-h g-shadow-v2 g-rounded-20 g-p-30">
            <figure class="g-mb-25">
                <img src="assets/images/staff-3s.jpg" class="img-fluid rounded-circle" alt="Image Description">
            </figure>
            <div class="text-center">
                <h5 class="g-mb-15">William Phrall</h5>
                <p class="g-text-primary text-uppercase g-font-size-12 g-mb-15 g-text-white-parent-h">Chef</p>
                <ul class="list-inline text-center">
                    <li class="list-inline-item align-middle g-mx-0">
                        <a href="#" class="g-icon-v1 g-icon-size-2 g-icon-gray-lighten-3 g-icon-dark-h rounded-circle">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item align-middle g-mx-0">
                        <a href="#" class="g-icon-v1 g-icon g-icon-size-2 g-icon-gray-lighten-3 g-icon-dark-h rounded-circle">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item align-middle g-mx-0">
                        <a href="#" class="g-icon-v1 g-icon g-icon-size-2 g-icon-gray-lighten-3 g-icon-dark-h rounded-circle">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li class="list-inline-item align-middle g-mx-0">
                        <a href="#" class="g-icon-v1 g-icon g-icon-size-2 g-icon-gray-lighten-3 g-icon-dark-h rounded-circle">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END Member 3 -->

    <!-- Member 4 -->
    <div class="col-sm-6 col-lg-3 g-mb-20">
        <div class="member g-border g-border-gray-lighten-3 g-bg-white g-bg-primary-h g-parent-text-h g-shadow-v2 g-rounded-20 g-p-30">
            <figure class="g-mb-25">
                <img src="assets/images/staff-5s.jpg" class="img-fluid rounded-circle" alt="Image Description">
            </figure>
            <div class="text-center">
                <h5 class="g-mb-15">John Smith</h5>
                <p class="g-text-primary text-uppercase g-font-size-12 g-mb-15 g-text-white-parent-h">Chef</p>
                <ul class="list-inline text-center">
                    <li class="list-inline-item align-middle g-mx-0">
                        <a href="#" class="g-icon-v1 g-icon-size-2 g-icon-gray-lighten-3 g-icon-dark-h rounded-circle">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item align-middle g-mx-0">
                        <a href="#" class="g-icon-v1 g-icon g-icon-size-2 g-icon-gray-lighten-3 g-icon-dark-h rounded-circle">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item align-middle g-mx-0">
                        <a href="#" class="g-icon-v1 g-icon g-icon-size-2 g-icon-gray-lighten-3 g-icon-dark-h rounded-circle">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li class="list-inline-item align-middle g-mx-0">
                        <a href="#" class="g-icon-v1 g-icon g-icon-size-2 g-icon-gray-lighten-3 g-icon-dark-h rounded-circle">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END Member 4 -->

</div>