<div class="row">

    <div class="col-lg-4 g-mb-20 g-mb-lg-0">
        <div class="testimonials g-border g-border-gray-lighten-3">
            <blockquote class="testimonial-body g-p-30 position-relative">
                <p class="g-mb-30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores corporis eos expedita illo impedit obcaecati odio omnis, quibusdam soluta voluptates.</p>
                <span class="position-absolute g-top-20 g-right-20"><i class="fa fa-quote-right g-font-size-45 g-text-gray-lighten-2"></i></span>
            </blockquote>
        </div>
        <figure class="g-mt-minus-40 g-ml-20">
            <img class="rounded-circle g-mb-20 g-border g-border-5x g-border-white" src="assets/images/testimonial-2-80x80.jpg" alt="Image Description">
            <h5>John Doe</h5>
            <span class="g-font-size-14">Ceo/Founder at demolink.com</span>
        </figure>
    </div>

    <div class="col-lg-4 g-mb-20 g-mb-lg-0">
        <div class="testimonials g-border g-border-gray-lighten-3">
            <blockquote class="testimonial-body g-p-30 position-relative">
                <p class="g-mb-30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores corporis eos expedita illo impedit obcaecati odio omnis, quibusdam soluta voluptates.</p>
                <span class="position-absolute g-top-20 g-right-20"><i class="fa fa-quote-right g-font-size-45 g-text-gray-lighten-2"></i></span>
            </blockquote>
        </div>
        <figure class="g-mt-minus-40 g-ml-20">
            <img class="rounded-circle g-mb-20 g-border g-border-5x g-border-white" src="assets/images/testimonial-1-80x80.jpg" alt="Image Description">
            <h5>John Doe</h5>
            <span class="g-font-size-14">Ceo/Founder at demolink.com</span>
        </figure>
    </div>

    <div class="col-lg-4">
        <div class="testimonials g-border g-border-gray-lighten-3">
            <blockquote class="testimonial-body g-p-30 position-relative">
                <p class="g-mb-30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores corporis eos expedita illo impedit obcaecati odio omnis, quibusdam soluta voluptates.</p>
                <span class="position-absolute g-top-20 g-right-20"><i class="fa fa-quote-right g-font-size-45 g-text-gray-lighten-2"></i></span>
            </blockquote>
        </div>
        <figure class="g-mt-minus-40 g-ml-20">
            <img class="rounded-circle g-mb-20 g-border g-border-5x g-border-white" src="assets/images/testimonial-2-80x80.jpg" alt="Image Description">
            <h5>John Doe</h5>
            <span class="g-font-size-14">Ceo/Founder at demolink.com</span>
        </figure>
    </div>

</div>
