
/*
    @
    @   15. MASONRY GRID
    @
*/

.grid {
    &.gutter {
        .grid-item {
            margin-bottom:20px;
            padding:0 10px;
        }
    }
}


.grid-item {
    display: block;
    @include media-breakpoint-down(sm) {
        width:100% !important;
    }
}
.grid-item-w-20{  width:20%;  }
.grid-item-w-25 {  width:25%;  }
.grid-item-w-33 {  width:33.31%;  }
.grid-item-w-40 {  width:40%;  }
.grid-item-w-50 {  width:50%;  }
.grid-item-w-60 {  width:60%;  }

